
.page{
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: white;
  margin: 0;
  padding: 0;
}
.header{
  border: 1px solid red;
  margin: 28px auto 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen and (max-width: 1024px){
  .header{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .header{
    max-width: 720px;
  }
}
@media screen and (max-width: 320px){
  .header{
    margin: 16px auto 48px;
    max-width: 288px;
  }
}
.header__logo{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  max-width: 176px;
  max-height: 52px;
}
@media screen and (max-width: 1024px){
  .header__logo{

  }
}
@media screen and (max-width: 768px){
  .header__logo{

  }
}
@media screen and (max-width: 320px){
  .header__logo{
    max-width: 142px;
  }
}
.header__links{
  border: 1px solid red;
  margin: 18px 0 6px;
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 1024px){
  .header__links{

  }
}
@media screen and (max-width: 768px){
  .header__links{

  }
}
@media screen and (max-width: 320px){
  .header__links{

  }
}

.header__lang-link{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}
@media screen and (max-width: 1024px){
  .header__lang-link{

  }
}
@media screen and (max-width: 768px){
  .header__lang-link{

  }
}
@media screen and (max-width: 320px){
  .header__lang-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}
.header__lang-link_en{
  text-decoration: none;
}
.lead{
  border: 1px solid red;
  margin: 56px 148px 0;
  padding: 0;
  max-width: 984px;
}
@media screen and (max-width: 1024px){
  .lead{
    margin: 32px auto 0;
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .lead{
    margin:48px 0;
  }
}
@media screen and (max-width: 320px){
  .lead{

  }
}

.lead__title{
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 720px;
  max-height: 200px;
}
@media screen and (max-width: 320px){
  .lead__title{

  }
}

.lead__subtitle{
  border: 1px solid red;
  margin: 32px auto 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 640px;
  max-height: 200px;
}

@media screen and (max-width: 320px){
  .lead__subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.lead__image{
  border: 1px solid red;
  margin: 64px 0 0 0;
  padding: 0;
  max-width: 984px;
  max-height: 615px;
  width: 100%;
}
@media screen and (max-width: 1024px){
  .lead__image{
    max-width: 928px;
    max-height: 580px;
    margin-top: 56px;
  }
}
@media screen and (max-width: 768px){
  .lead__image{
    max-width: 768px;
    max-height: 480px;
    margin-top: 56px;

  }
}
@media screen and (max-width: 320px){
  .lead__image{

  }
}

.lead__caption{
  margin: 8px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
/* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px){
  .lead__caption{
    margin-left: 24px;
  }
}
@media screen and (max-width: 320px){
  .lead__caption{

  }
}
.intro{
  border: 1px solid red;
  margin: 92px 0 0 148px;
  padding: 0;
  max-width: 690px;
}
@media screen and (max-width: 1024px){
  .intro{
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px){
  .intro{
    max-width: 720px;
    margin-left: 24px;
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px){
  .intro{
    min-width: 288px;
    margin-left:64px auto 0;
  }
}
.intro__title{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 1024px){
  .intro__title{

  }
}
@media screen and (max-width: 768px){
  .intro__title{

  }
}
@media screen and (max-width: 320px){
  .intro__title{
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.intro__text{
  border: 1px solid red;
  margin: 40px 0 33px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 1024px){
  .intro__text{

  }
}
@media screen and (max-width: 768px){
  .intro__text{

  }
}
@media screen and (max-width: 320px){
  .intro__text{

  }
}
.intro__list{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 1024px){
  .intro__list{

  }
}
@media screen and (max-width: 768px){
  .intro__list{

  }
}
@media screen and (max-width: 320px){
  .intro__list{

  }
}
.photo-grid{
  border: 1px solid red;
  margin: 92px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 1184px;
  max-height: 671px;
  grid-template-rows: max-content;
}
@media screen and (max-width: 1024px) {
  .photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 928px;
    max-height: 942px;
    grid-template-rows: max-content;
    gap: 14px;
  }
}
@media screen and (max-width: 768px){
  .photo-grid{
    margin: 88px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 720px;
    max-height: 1664px;
    grid-template-rows: max-content;
    gap: 16px;
  }
}
@media screen and (max-width: 320px){
  .photo-grid{
    margin: 64px 16px 0 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-rows: max-content;
    max-width: 288px;
    max-height: 2724px;
    gap: 12px;
  }
}
.photo-grid__item{
  max-width: 284px;
  max-height: 213px;
}
@media screen and (max-width: 1024px) {
  .photo-grid__item{
    max-width: 300px;
    max-height: 225px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid__item{
    max-width: 352px;
    max-height: 264px;
  }
}

.places{
  border: 1px solid red;
  margin: 12px auto 0;
  padding: 0;
  list-style-type:none;
  max-width: 984px;
}
@media screen and (max-width: 1024px)
{
  .places{
    margin: 12px auto 0;
    max-width: 928px;
}
}
@media screen and (max-width: 768px)
{
  .places{
    margin: 16px auto 0;
    max-width: 720px;

}
}
@media screen and (max-width: 320px)
{
  .places{
    margin: 64px 0;
}
}
.place{
  border: 1px solid red;
  margin: 80px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 984px;
  grid-template-rows:max-content;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}
@media screen and (max-width: 1024px){
  .place{
    grid-column-gap: 32px;

  }
}
@media screen and (max-width: 768px){
  .place{
    grid-column-gap: 28px;
    margin: 72px 0 0 0;
    max-width: 984px;
  }
}
@media screen and (max-width: 320px){
  .place{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    min-width: 320px;
    grid-template-rows:min-content;
  }
}
.place__title{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (max-width: 1024px){
  .place__title{

  }
}
@media screen and (max-width: 768px){
  .place__title{
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    /* identical to box height, or 110% */
    max-width: 440px;
  }
}
@media screen and (max-width: 320px){
  .place__title{
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.place__website{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-self: end;

}
@media screen and (max-width: 1024px)
{
  .place__website{

}
}
@media screen and (max-width: 768px)
{
  .place__website{
    max-width: 456px;

}
}
@media screen and (max-width: 320px)
{
  .place__website{
    gap: 12px;
}
}

.place__url-heading{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  color: #AAAAAA;
}
@media screen and (max-width: 1024px)
{
  .place__url-heading{

}
}
@media screen and (max-width: 768px)
{
  .place__url-heading{

}
}
@media screen and (max-width: 320px)
{
  .place__url-heading{

}
}
.place__link{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.place__link:hover{
  opacity: 0.8;
}
@media screen and (max-width: 1024px)
{
  .place__link{

}
}
@media screen and (max-width: 768px)
{
  .place__link{

}
}
@media screen and (max-width: 320px)
{
  .place__link{

}
}
.place__image{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  max-width: 460px;
  max-height: 460px;
}
@media screen and (max-width: 1024px){
  .place__image {
    display: grid;
    max-width: 440px;
    max-height: 440px;
  }
}
@media screen and (max-width: 768px){
  .place__image{
    max-width: 340px;
    max-height: 340px;
  }
}
@media screen and (max-width: 320px){
  .place__image{
    max-width: 320px;
    max-height: 320px;
  }
}
.place__paragraphs{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap:27px 0;
}
@media screen and (max-width: 1024px){
  .place__paragraphs{
    gap:26px 0;

  }
}
@media screen and (max-width: 768px){
  .place__paragraphs{
    gap:25px 0;


  }
}
@media screen and (max-width: 320px){
  .place__paragraphs{

  }
}
.place__paragraph{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  max-width: 484px;
  font-size: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
@media screen and (max-width: 1024px){
  .lace__paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;

  }
}
@media screen and (max-width: 768px){
  .lace__paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px){
  .lace__paragraph{

  }
}
.cover{
  border: 1px solid red;
  margin: 0 48px;
  padding: 0;
  background-image: url(../russian-travel/img/backgroundS.jpg);
  background-size: 100%;
  max-width: 1184px;
  max-height: 740px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px){
  .cover{
    margin: 12px 0 0 0;
    max-width: 1024px;
    max-height: 640px;
  }
}
@media screen and (max-width: 768px){
  .cover{
    margin-top: 90px;
    margin-left: 0;
    margin-right: 0;
    max-width: 768px;
    max-height: 460px;
  }
}
@media screen and (max-width: 320px){
  .cover{
    margin-left: 0;
    margin-right: 0;
    max-width: 320px;
    min-height: 48px;
  }
}

.cover__link{
  border: 1px solid red;
  text-decoration: none;
  display: block;
  max-width: 1184px;
  min-height: 740px;
  height: auto;
  align-items: center;
}
@media screen and (max-width: 1024px){
  .cover__link{
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px){
  .cover__link{
    max-width: 768px;
    min-height: 460px;
  }
}
@media screen and (max-width: 320px){
  .cover__link{
    max-width: 320px;
    min-height: 48px;
  }
}

.cover__link:hover{
  background-color: rgba(42, 44, 47, 0.8);
}
.cover__title{
  border: 1px solid red;
  padding: 0;
  margin: 245px auto 32px;
  color: #FFFFFF;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 560px;
  color: white;
}
@media screen and (max-width: 1024px){
  .cover__title{
    margin-top: 195px;
  }
}


@media screen and (max-width: 768px){
  .cover__title{
    margin: 115px auto 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
/* or 106% */
    text-align: center;
  }
}
@media screen and (max-width: 320px){
  .cover__title{
    margin: 33px auto 0;
font-size: 32px;
font-weight: 900;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
max-width: 288px;

  }
}

.cover__subtitle{
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 360px;
  color: white;
}
@media screen and (max-width: 1024px){
  .cover__subtitle{

  }
}
@media screen and (max-width: 768px){
  .cover__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
/* or 122% */
    text-align: center;

  }
}
@media screen and (max-width: 320px){
  .cover__subtitle{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.footer{
  border: 1px solid red;
  margin: 92px auto 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen and (max-width: 1024px){
  .footer{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .footer{
    margin: 88px auto 24px;
    max-width: 720px;
  }
}
@media screen and (max-width: 320px){
  .footer{
    margin: 0;
    flex-direction: column;
    justify-content: baseline;
  }
}
.footer__links{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}
@media screen and (max-width: 1024px){
  .footer__links{

  }
}
@media screen and (max-width: 768px){
  .footer__links{

  }
}
@media screen and (max-width: 320px){
  .footer__links{
    margin-top: 64px;
    flex-direction: column;
  }
}
.footer__link{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  line-height: 18px;
}
@media screen and (max-width: 1024px){
  .footer__link{


  }
}
@media screen and (max-width: 768px){
  .footer__link{

  }
}
@media screen and (max-width: 320px){
  .footer__link{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.footer__copyright{
  border: 1px solid red;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}
@media screen and (max-width: 320px){
  .footer__copyright{
    margin:48px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}









